<h1>Songs List</h1>

<p *ngIf="!songs"><em>Loading...</em></p>
<table class="table table-dark table-hover" *ngIf="songs">
  <thead>
    <tr>
      <th class="col-xs-6 col-md-2"><button data-toggle="modal" data-target="#newSong" class="btn btn-info">+</button></th>
      <th class="col-xs-6 col-md-2"><input placeholder="歌名/描述/聽眾" class="form-control" [(ngModel)]="searchParameter" /></th>
      <th class="col-xs-6 col-md-2"></th>
      <th class="col-xs-6 col-md-2"></th>
    </tr>
    <tr>
      <th class="col-xs-6 col-md-2">id</th>
      <th class="col-xs-6 col-md-4">歌名</th>
      <th class="col-xs-6 col-md-4">描述</th>
      <th class="col-xs-6 col-md-2"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let song of displaySongs">
      <td (click)="onSelect(song)" data-toggle="modal" data-target="#songDetail">{{song.id}}</td>
      <td><p *ngIf="!song.editable">{{song.name}}</p><input *ngIf="song.editable" type="text" [(ngModel)]="song.name" class="form-control" /></td>
      <td><p *ngIf="!song.editable">{{song.descrption}}</p><input *ngIf="song.editable" type="text" [(ngModel)]="song.descrption" class="form-control" /></td>
      <td>
        <div *ngIf="!song.editable; else editableButton">
          <button (click)="song.editable = true" class="btn btn-warning">編輯</button>
          <button (click)="delete(song)" class="btn btn-danger">刪除</button>
        </div>
        <ng-template #editableButton>
          <button (click)="save(song)" class="btn btn-success">儲存</button>
          <button (click)="song.editable = false" class="btn btn-danger">取消</button>
        </ng-template>
      </td>
    </tr>
  </tbody>
</table>
<app-miypagelist *ngIf="filterSongs" [allData]="filterSongs" (displayData)="putDisplaySongs($event)"></app-miypagelist>
<div class="modal fade" id="newSong" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">新增歌曲</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #createForm="ngForm" (ngSubmit)="submitForm(createForm.value)">
        <div class="modal-body">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">歌名:</label>
            <input type="text" name="name" class="form-control" [(ngModel)]="newSong.name" required>
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">描述:</label>
            <input type="text" name="descrption" class="form-control" [(ngModel)]="newSong.descrption" required>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="closeModal" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">新增</button>
        </div>
      </form>
    </div>
  </div>
</div>
<app-song-detail [song]="selectedSong"></app-song-detail>
